
#carouselExample{
    height: 30%;
    width: 1300px; 
    margin: 0 auto; 
    margin-top: 20px;
   
}

.hotels {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    max-width: 1400px; 
    margin: 0 auto; 
}

.card {
    width: 100%; 
    margin: 10px; 
}
.row{
    width: 1327px; 
    margin: 0 auto; 
    margin-top: 20px;
    margin-left: 10px;
}
.form-inici-sessio{
    text-align: center;
}
.form-registrar {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    background-color: #0d6efd;
    color: white;
    margin-right:10px ;
}

.mb-3.form-check {
    float: right;
}

.account {
    text-align: center;
    margin-top: 20px;
}

.return {
    float: right;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.hotels{
    display: inline-block;
    margin-left: 75px;
    width: 40%;
}
.form-inici-sessio{
    text-align: center;
}
.form-registrar {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.btn-primary2 {
    display: block;
    margin: 0 auto;
    width: 360px;
    background-color: #0d6efd;
    color: white;
}

.mb-3.form-check {
    float: right;
}

.account {
    text-align: center;
    margin-top: 20px;
}

.return {
    float: right;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}